{% extends "layout.html" %}

{% block nav_activity_class %}active{%endblock%}

{% block content %}
<div class="span6">
<form class="form-horizontal" method='POST' enctype='multipart/form-data' action="{% url 'activity/add' %}">
	{% csrf_token %}
	{% for field in form.visible_fields %}
	<div class="control-group {% if field.errors %} error {% endif%} ">
		<label class="control-label">{{field.label}}</label>
		<div class="controls">
			{{field}}
			{% if field.errors %}	
			<span class="help-inline">{{field.errors}}</span>
			{%endif%}
		</div>
	</div>
	{% endfor %}
	
	{% for field in form.hidden_fields %}
	{{field}}	
	{% endfor %}
	
<!--  	
	<div class="control-group error">
		<label class="control-label">菜品名</label>
		<div class="controls">
			<input type="text" id="title" name="title"></input>
			<span class="help-inline">{{form.title.errors}}</span>
		</div>
	</div>	
	<div class="control-group">
		<label class="control-label">价格</label>
		<div class="controls">
			<input type="text" id="price" name="price"></input>
		</div>
	</div>	
	
	<div class="control-group">
		<label class="control-label">类别</label>
		<div class="controls">
			<input type="text" id="category" name="category"></input>
		</div>
	</div>	
	
			
	<div class="control-group">
		<label class="control-label">序号</label>
		<div class="controls">
			<input type="text" id="orderSeq" name="orderSeq"></input>
		</div>
	</div>	
-->	
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-primary">增加</button>
		</div>
	</div>	
	
</form>
</div>
{% endblock %}