{% extends "layout.html" %}

{% block nav_activity_class %}active{%endblock%}

{% block content %}
<script type="text/javascript">
$(document).ready(function() {
    $('a[data-confirm]').click(function(ev) {
        var href = $(this).attr('href');

        if (!$('#dataConfirmModal').length) {
            $('body').append('<div id="dataConfirmModal" class="modal" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="dataConfirmLabel">确认删除</h3></div><div class="modal-body"></div><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button><a class="btn btn-primary" id="dataConfirmOK">OK</a></div></div>');
        } 
        $('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
        $('#dataConfirmOK').attr('href', href);
        $('#dataConfirmModal').modal({show:true});
        return false;
    });
});
</script>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" onclick="javascript:window.location =''">Save changes</button>
  </div>
</div>

	<div class="container span8">
		<a href="{% url 'activity/add' %}"><button class="btn btn-primary" >增加活动</button></a>
		</br>
		</br>

		<table class="table table-striped">
			<tr>
				<th>图片</th>
				<th>显示序号</th>
				<th>操作</th>
			</tr>
			{% for activity in object_list%}
			<tr>
				<td><img src="{{STATIC_URL}}/menu/{{activity.image_uri}}" class="img-roundeds" width="320" heigth="460" /></td>
				<td>{{activity.sorted_seq}}</td>
				<td>
					<div class="btn-group">
					  <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
					   	操作 
					    <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu">
					  	<li><a href="{%url 'activity/update' activity.activity_id %}">查看/修改</a></li>
						<li><a href="{%url 'activity/delete' activity.activity_id %}" data-confirm="你确定要删除吗?" onclick="javascript:$('.alert').alert()">删除</a></li>
					  </ul>
					</div>				
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>

{% endblock %}