{% extends "layout.html" %}

{% block content %}

	<div class="container">
		<a href="{% url 'menu/add' %}"><button class="btn btn-primary" >增加菜品</button></a>
		</br>
		</br>
		<table class="table table-striped">
			<tr>
				<th>图片</th>
				<th>标题</th>
				<th>价格</th>
				<th>类别</th>
				<th>序号</th>
				<th>操作</th>
			</tr>
			@for(dish <- dishes){
			<tr>
				<td><img src="@routes.Assets.at("img/dish.jpg")" class="img-roundeds" width="100" heigth="100" /></td>
				<td>dish.title</td>
				<td>dish.price</td>
				<td>dish.category</td>
				<td>dish.orderSeq</td>
				<td>
					<button class="btn btn-success">修改</button></br></br>
					<button class="btn btn-danger">删除</button></br>
				</td>
			</tr>
			}
		</table>
	</div>


{% endblock %}