{% extends "layout.html" %}

{% block nav_order_class %}active{%endblock%}

{% block content %}
<script type="text/javascript">
$(document).ready(function() {
    $('a[data-confirm]').click(function(ev) {
        var href = $(this).attr('href');

        if (!$('#dataConfirmModal').length) {
            $('body').append('<div id="dataConfirmModal" class="modal" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="dataConfirmLabel">确认删除</h3></div><div class="modal-body"></div><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button><a class="btn btn-primary" id="dataConfirmOK">OK</a></div></div>');
        } 
        $('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
        $('#dataConfirmOK').attr('href', href);
        $('#dataConfirmModal').modal({show:true});
        return false;
    });
});
</script>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" onclick="javascript:window.location =''">Save changes</button>
  </div>
</div>

	<div class="container">
		<div class="btn-group">
			<button class="btn {%if not selected_status %}btn-primary{%endif%}" onclick="window.location.href='{% url 'order/list' %}';">所有订单</button>
			{%for status_id, status_name in order_status_choices %}
  			<button class="btn {%if status_id == selected_status %}btn-primary{%endif%}" onclick="window.location.href='{% url 'order/list' %}?status={{status_id}}';">{{status_name}}</button>
  			{% endfor %}
		</div>
		</br>
		</br>
		<table class="table table-striped">
			<tr>
				<th>顾客姓名</th>
				<th>顾客联系电话</th>
				<th>用餐人数</th>
				<th>数量</th>
				<th>是否包厢</th>
				<th>就餐时间</th>
				<th>下单时间</th>
				<th>订单状态</th>
				<th>操作</th>
			</tr>
			{% for order in object_list%}
			<tr>
				<td>{{order.contact_name}}</td>
				<td>{{order.contact_phone}}</td>
				<td>{{order.people_number}}</td>
				<td>{{order.dishes_count}}</td>
				<td>{{order.get_box_required_display}}</td>
				<td>{{order.reserved_time|date:"Y-m-d H:i"}}</td>
				<td>{{order.order_creation_time|date:"Y-m-d H:i"}}</td>
				<td>{{order.get_order_status_display}}</td>
				<td>
				<!--  
					<a href=""><button class="btn btn-success">修改</button></a></br></br>
					<a href="" data-confirm="你确定要删除吗?"><button class="btn btn-danger" onclick="javascript:$('.alert').alert()" >删除</button></a></br>
				-->
					<div class="btn-group">
					  <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
					   	操作 
					    <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu">
					  	<li><a href="{%url 'order/update' order.order_id %}">查看/修改</a></li>
						<li><a href="{%url 'order/delete' order.order_id %}" data-confirm="你确定要删除吗?" onclick="javascript:$('.alert').alert()">删除</a></li>
					  </ul>
					</div>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>

{% endblock %}